Wykorzystywane biblioteki

In [ ]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np

Dane

Pobieranie danych

In [ ]:
DATA_FOLDER = os.path.join(os.getcwd(), 'dane')
datasets = {}

Inflacja

In [17]:
data = pd.read_csv(os.path.join(DATA_FOLDER, 'Inflacja.csv'), sep=';')
print(data.head())
inflation_dict = {data['rok'][i]: data['wartosc'][i] for i in range(len(data))}
inflation_dict

                                nazwa zmiennej jednostka terytorialna  \
0  Wskaznik cen towarow i uslug konsumpcyjnych                 Polska
1  Wskaznik cen towarow i uslug konsumpcyjnych                 Polska
2  Wskaznik cen towarow i uslug konsumpcyjnych                 Polska
3  Wskaznik cen towarow i uslug konsumpcyjnych                 Polska
4  Wskaznik cen towarow i uslug konsumpcyjnych                 Polska

    sposob prezentacji   rok wartosc  flaga
0  Rok poprzedni = 100  1950   107,5    NaN
1  Rok poprzedni = 100  1951   109,6    NaN
2  Rok poprzedni = 100  1952   114,4    NaN
3  Rok poprzedni = 100  1953   141,9    NaN
4  Rok poprzedni = 100  1954    93,7    NaN

{1950: '107,5',
 1951: '109,6',
 1952: '114,4',
 1953: '141,9',
 1954: '93,7',
 1955: '97,6',
 1956: '99',
 1957: '105,4',
 1958: '102,7',
 1959: '101,1',
 1960: '101,8',
 1961: '100,7',
 1962: '102,5',
 1963: '100,8',
 1964: '101,2',
 1965: '100,9',
 1966: '101,2',
 1967: '101,5',
 1968: '101,6',
 1969: '101,4',
 1970: '101,1',
 1971: '99,9',
 1972: '100',
 1973: '102,8',
 1974: '107,1',
 1975: '103',
 1976: '104,4',
 1977: '104,9',
 1978: '108,1',
 1979: '107',
 1980: '109,4',
 1981: '121,2',
 1982: '200,8',
 1983: '122,1',
 1984: '115',
 1985: '115,1',
 1986: '117,7',
 1987: '125,2',
 1988: '160,2',
 1989: '351,1',
 1990: '685,8',
 1991: '170,3',
 1992: '143',
 1993: '135,3',
 1994: '132,2',
 1995: '127,8',
 1996: '119,9',
 1997: '114,9',
 1998: '111,8',
 1999: '107,3',
 2000: '110,1',
 2001: '105,5',
 2002: '101,9',
 2003: '100,8',
 2004: '103,5',
 2005: '102,1',
 2006: '101',
 2007: '102,5',
 2008: '104,2',
 2009: '103,5',
 2010: '102,6',
 2011: '104,3',
 2012: '103,7',
 2013: '100,9',
 2014: '100',
 2015: '99,1',
 2016: '99,4',
 2017: '102',
 2018: '101,6',
 2019: '102,3',
 2020: '103,4',
 2021: '105,1',
 2022: '114,4',
 2023: '111,4'}

Nakłady na B / R w przeliczeniu na mieszkańca

In [ ]:
data = pd.read_csv(os.path.join(DATA_FOLDER, 'Naklady_BR_na_mieszkanca.csv'), sep=';')
IMPORTANT_COLUMNS = ['opis_okres', 'wartosc']
data = data[IMPORTANT_COLUMNS]
data.rename(columns={'opis_okres': 'rok'}, inplace=True)
datasets['Naklady_BR_na_mieszkanca'] = data
data.head()